body{
    margin: 0;
    padding: 0;
    background-image: url(components/Earth-wallpaper.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.4); 
    pointer-events: none;
    z-index: 0;
}

.top-bar, .main-container {
    position: relative;
    z-index: 1;
}

.top-bar{
    background-color: transparent;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    padding: 8px 16px;        
    letter-spacing: 0.2em;         
    transition: all 0.3s ease;   
}


.top-bar-btn:hover {
    opacity: 0.8;
    letter-spacing: 0.25em;
}



.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 110px;
    width: 100vw;
    height: 80vh;
    font-family: Arial, sans-serif;
    background-color: transparent;
    backdrop-filter: blur(4px);  /* Try change here  (delete or change the px)*/
    border: 2px solid transparent;
}

.container-title{
    color: white;
    font-size: 70px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.025em;
    margin-bottom: 1rem;  
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

}

.container-desc{
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    line-height: 1.25rem;
    margin-bottom: 3rem;
}

.primary-button{
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid grey;
    width: 160px;
    height: 160px;
    backdrop-filter: blur(4px);
}

.primary-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
    cursor: pointer;   
}

.button-icon{
    width: 80px;
    height: 80px;
}

.container-desc2{
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    line-height: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 300;

}


.speech-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 250px;
    height: 20px;
}

#status{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    line-height: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 300;

}




